{% extends 'TechTracker/index.html' %}
{% load static %}

{% block content-body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        数据导入状态监控
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p class="card-text">数据导入已进入后台执行，任务ID：<strong>{{ ret.task_id }}</strong></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}