{% extends 'TechTracker/index.html' %}
{% load static %}

{% block content-body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        共现分析参数设置
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form action="{% url 'co' %}" method="post">
                            {% for field in form_co_params %}
                                <fieldset class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                </fieldset>
                            {% endfor %}
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">开始分析</button>
                                <button type="button" class="btn btn-light-primary">重置</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}